<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Cake Quantity</th>
      <th>Flavor</th>
      <th>Price</th>
      <th>Total Cost</th>
      <th>Special Requests</th>
      <th>Date Needed</th>
      <th>Date Ordered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.cake_quantity %></td>
        <td><%= user.flavor %></td>
        <td><%= user.price %></td>
        <td><%= user.total_cost %></td>
        <td><%= user.special_request %></td>
        <td><%= user.date_needed %></td>
        <td><%= user.date_ordered %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
