<h1>Order Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Cake Quantity:</strong>
  <%= @user.cake_quantity %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @user.flavor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @user.price %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @user.total_cost %>
</p>

<p>
  <strong>Special Requests:</strong>
  <%= @user.special_request %>
</p>

<p>
  <strong>Date Needed:</strong>
  <%= @user.date_needed %>
</p>

<p>
  <strong>Date Ordered:</strong>
  <%= @user.date_ordered %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
