<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Cake quantity:</strong>
  <%= @user.cake_quantity %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @user.flavor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @user.price %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @user.total_cost %>
</p>

<p>
  <strong>Special request:</strong>
  <%= @user.special_request %>
</p>

<p>
  <strong>Date needed:</strong>
  <%= @user.date_needed %>
</p>

<p>
  <strong>Date ordered:</strong>
  <%= @user.date_ordered %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
